body {
    margin: 0;
}

/* -------------NAVIGATION BAR STYLING --------------*/
.navbar {
    background-color: #f8eed7;
    font-family: 'DM Serif Display';
    text-align: center;
    margin: 0;
}

/* style for unordered list in navbar */
.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-right: 40px;
}

/* style for list item in navbar */
.navbar li {
    margin: 1rem;
}

/* style for navbar links */
.navbar a {
    color: #394b3c;
    text-decoration: none;
}

/* -----------------BANNER STYLING ------------------*/
.banner {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("golden gate bridge.jpg");
    background-size: cover;
}

.banner h1 {
    color:#f8eed7;
    font-size: 5rem;
    font-family: 'DM Serif Display';
    font-weight: lighter;
    letter-spacing: 10px;
    margin-bottom: 0px;
}

.banner h2 {
    color: #f8eed7;
    font-size: 1.5rem;
    font-family: 'DM Serif Display';
    font-weight: lighter;
    margin-top: 0;
}

.social-icons i {
    font-size: 1.5rem;
    color: #f8eed7;
    margin-left: 1.5rem;
}

/* -------------ABOUT PAGE STYLING --------------*/
.about {
    height: 73vh;
    background-color: #f8eed7;
    display: flex;
    justify-content: center;
    gap: 8rem;

    padding-left: 12rem;
    padding-right: 12rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
}

.about img {
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

.skills {
    font-family: 'Roboto Mono';
    font-size: 1rem;
    color: #394b3c;
    line-height: 1.5rem;
}

.resume-button {
    background-color: #394b3c;
    border-radius: 0.4rem;
    padding: 0.5rem;
    margin-top: 1.3rem;

    font-family: 'Roboto Mono';
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    color: #f8eed7;
    box-shadow: none;
}

.resume-button:hover {
    background-color: #bbc0ce;
    border-color: #bbc0ce;
    color: #394b3c;
    box-shadow: none;
}

.profile {
    display: flex;
    flex-direction: column;
}

.profile-details {
    display: flex;
    flex-direction: column;
}

.profile-details h2 {
    font-family: 'DM Serif Display';
    font-weight: lighter;
    color: #394b3c;
    margin-bottom: 0rem;
}

.profile-details h1 {
    font-family: 'DM Serif Display';
    font-weight: lighter;
    font-size: 2.5rem;
    color: #394b3c;
    margin-top: 0rem;
    margin-bottom: 0.2rem;
}

.profile-details p {
    font-family: 'Roboto Mono';
    color: #394b3c;
}

hr {
    border: 0.5px solid #394b3c;
    margin: 0;
}

/* -------------EXPERIENCE PAGE STYLING --------------*/
.experience {
    height: 75vh;
    background-color: #394b3c;
    display: flex;
    justify-content: center;
    gap: 8rem;

    padding-left: 12rem;
    padding-right: 12rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

/*
Questions:
1. in styles.css day2, recommended rem cuz it adjusts relative to user's font size. how do u know when to use rem vs px?
2. at a certain point when the page gets skinny enough, only the navbar colored banner shrinks (part of "contact" is off)
3. white thing on top of navbar
4. _blank in html for icons but still opens in same tab
5. get rid of shadow on button
*/

/*
TO DO:
1. make navbar go up when you scroll down, and show up when you scroll up
2. experience page with timeline of stuff + photos
3. projects page with links to github thing
4. contacts page with basic contact info links
*/